<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white">LuckyNumber</a>
  

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="text-white fa-solid fa-bars">☰</i>
      </button>
    </li>
  </ul>
</header>
<nav class="wallet">
  <span style="margin-right: 5px;">&#8377;</span>
  <span style="margin-right: 5px;color: white;"> {{wallet}}</span>
  <img class="addmoney" src="../../../assets/plus-solid (2).svg" (click)="addMoney()" alt="" width="20px" height="20px">
</nav>

<div class="wrapper container-fluid">
  <div class="row">
    <div class="sidebar col-md-3 col-lg-2 p-0 bg-dark">
      <div class="offcanvas-md offcanvas-end bg-dark" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
          <ul class="nav nav-pills flex-column mb-auto">
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/home">Home</a>
            </li>
            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/register-distributor">Register Distributor</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/register-user">Register User</a>
            </li>
            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/manage-lotery">Manage Lotery</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/user-list">User List</a>
            </li>
            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/distributor-list">Distributor List</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/wid">Wid</a>
            </li>
            <li  *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/wid-list">Wids List</a>
            </li>
            <li  *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/wid-list1">Wids</a>
            </li>
            <li  *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/wids-user">Wids</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/winner">Result</a>
            </li>
            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/set-commession">Commession</a>
            </li>
            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/add-api">API Setting</a>
            </li>

            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/transections-request">UPI Request</a>
            </li>

            <li *ngIf="role == 'admin'">
              <a class="nav-link link-light" routerLink="/dashboard/notfications">Manage Notifections</a>
            </li>

            <li>
              <a class="nav-link link-light" routerLink="/dashboard/transections">Transections</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/add-account">wallet</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/widdraw">Widdraw</a>
            </li>
            <li>
              <a class="nav-link link-light" routerLink="/dashboard/widdraw-history">Widdraw History</a>
            </li>
            <li>
              <button class="btn btn-primary" (click)="logout()">Logout</button>
            </li>
          </ul>
          <hr>
          <!-- <div class="dropdown mt-auto">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
              id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
              <strong>mdo</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div> -->

        </div>
      </div>
    </div>

    <!-- <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"> -->
      <div class="maincontent">
        <router-outlet></router-outlet>
      </div>
    <!-- </main> -->
  </div>
</div>