.wrapper{
  height:100vh;
  overflow: hidden;
}
.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.sidebar{
  position: fixed;
  z-index: 1000;
  height: 100%;
  font-size: 25px;
  overflow: hidden;
  overflow-y: auto;
  width: 250px;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
  
}

.sidebar .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.maincontent{
  width: calc(100vw - 250px);
  /* border: 1px solid red; */
  overflow: auto;
  margin-left: 250px;
  max-height: 98vh;
 
}

.wallet{
  position: fixed;
  z-index: 24999;
  top: 1px;
  right: 8px;
}

@media (max-width: 550px) {
  .sidebar{
    height: 0px;
  }
  .wallet{
    top: 10px;
    right: 37px;
  }
  .maincontent{
    width: 100vw;
    margin: 0px;
  }
  
}

.addmoney{
  cursor: pointer;

}