<!-- app.component.html -->
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Accounts</h2>
        <!-- account-details.component.html -->
        <div class="account-details" *ngFor="let account of accounts">
          <h2>Bank Account Details</h2>
          <p><strong>Account Holder Name:</strong> {{ account.accountHolderName }}</p>
          <p><strong>Account Number:</strong> {{ account.accountNumber }}</p>
          <p><strong>Bank Name:</strong> {{ account.bankName }}</p>
          <p><strong>Branch Name:</strong> {{ account.branchName }}</p>
          <p><strong>IFSC Code:</strong> {{ account.ifscCode }}</p>
          <p><strong>Contact Number:</strong> {{ account.number }}</p>
          <p><strong>Verified:</strong> <span style="color: green;">Verified</span></p>
        </div>
      </div>
      <div class="col-md-6">
        <!-- withdraw-form.component.html -->
        <form class="withdraw-form" [formGroup]="withdrawForm" (submit)="onSubmit()">
          <h2>Withdraw Funds</h2>
          <label for="accountNumber">Account Number:</label>
          <select class="form-control" id="accountNumber" name="accountNumber" formControlName="accountNumber" required>
            <option selected value="0">Select Account</option>
            <option *ngFor="let account of accounts" [value]="account.accountNumber">{{ account.accountNumber }}</option>
          </select>
          <label for="amount">Amount:</label>
          <input type="number" id="amount" name="amount"  placeholder="Enter Amount" formControlName="amount" required>
          <label class="text-danger" for="amount">Miniaum amount must be 100</label>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  