.container {
  margin-top: 45px;
  max-height: 80vh; /* Adjust as needed */
  /* overflow-y: auto; */
}

.card {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item-1 {
  width: 100%;
  display: flex;
  border: 1px solid grey;
  flex-wrap: wrap;
  /* overflow-y: auto; */
  max-height: min-content; /* Adjust as needed */
}

.item {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  margin: 5px;
  border: 1px solid rgb(127, 21, 21);
  text-align: center;
  font-size: 45px;
  cursor: pointer;
}

.item.odd {
  background-color: #FF6F00;
    color: white;
}

.item.even {
  background-color: #0707d2;
  color: #FDD835;
}

.item.third {
  background-color: #0fbf0f;
  color: #f2f9ff;
}

.item.fourth {
  background-color: #a901a9;
  color: #E0F7FA;
}

.item.selected {
  border: 3px solid #ff0000;
  background-color: #ffffe0;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
  font-size: 20px;
  color: #333;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

#inputField {
  height: 45px;
  font-size: 16px;
}

#submitButton {
  height: 45px;
  font-size: 16px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .item {
    width: 56px;
    height: 50px;
    font-size: 25px;
  }

  .container {
    overflow-y: auto;
  }

  .item-1 {
    /* overflow-y: auto; */
  }
  .card{
    padding: 0px;
    margin: 0px;
  }
}
